<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-block grid__item footer-block--menu">
          <h6 class="footer-block__heading">Our Expertise</h6>
          <ul class="footer-block__details-content list-unstyled">
            <li>Tree Maintenance</li>
            <li>Tree Species Selection</li>
            <li>Tree Planting Techniques</li>
            <li>Tree Nursery Management</li>
            <li>Forestry Consultation</li>
            <li>Reforestation Projects</li>
            <li>Agroforestry</li>
            <li>Urban Forestry</li>
            <li>Carbon Sequestration</li>
            <li>Tree Education and Outreach</li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <h6>About</h6>
        <p class="text-justify">
          Empowering individuals and organizations to take action on air
          pollution and climate change through tree planting and conservation
          efforts.
        </p>
      </div>

      <div class="col-md-4">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li>Softwood</li>
          <li>Hardwood</li>
          <li>Broadleaf</li>
          <li>Cedar</li>
        </ul>
      </div>

      <div class="col-md-4">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li>About Us</li>
          <li>Contact Us</li>
          <li>Contribute</li>
          <li>Privacy Policy</li>
          <li>Sitemap</li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2017 All Rights Reserved by <a href="#">Natures</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
