<div class="nav-style">
  <div class="d-flex justify-content-center aligen-items-center">
    <img src="../../../assets/icons/gbt-fevicon-18e90.png" alt="" />
    <h2 class="text-color ml-3">Save Nature</h2>
  </div>
  <div>
    <ul>
      <li class="li-active">Plant a Tree</li>
      <li>Gift a Tree</li>
      <li>Forest</li>
      <li>Calculators</li>
    </ul>
  </div>
  <div class="text-center d-flex justify-content-center aligen-items-center">
    <mat-icon>person</mat-icon>
    <mat-icon class="ml-3">shopping_cart</mat-icon>
  </div>
</div>
